.conteudo-containr {
    box-sizing: border-box;
    padding: 60px;
}


.titulo-principal {
    color: #403930;
    font-family: Eczar;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 80px */
    box-sizing: border-box;
    letter-spacing: 1.28px;
    display: inline-block;
    height: 240px;
    width: 595px;
    margin-top: 0;
}

.subtitulo {
    display: inline-block;
    padding: 12px 24px;
    color: #403930;
    font-family: Work Sans;
    font-size: 24px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
    border-radius: 10px;
    background: #FFDDBF;
}

