body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
   
  -moz-osx-font-smoothing: grayscale;
  color: #FFF;
  background: rgba(255, 221, 191, 0.50);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
