body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
    width: 100vw;
    background: #FFEED9;
  -moz-osx-font-smoothing: grayscale;
  color: #FFF;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
